.header{
  height: 55px;
  line-height: 55px;
  background: #000;
  color: #fff;
  padding: 0 30px;
  display: flex;
}

.header img{
  margin-right: 30px;
}

.header li{
  float: left;
  height: 55px;
  margin-right: 30px;
}